/* Container.css */

.container {
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 120px; /* nav와의 거리를 늘리는 부분 */
  margin-bottom: 50px; /* footer와의 거리를 늘리는 부분 */
}