/* NoticeList.css */

.container {
  max-width: 1150px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  position: relative;
  margin-top: 120px; /* nav와의 거리를 늘리는 부분 */
  margin-bottom: 30px; /* footer와의 거리를 늘리는 부분 */
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.notice-header {
  border-bottom: 3px solid #222;
}

h3 {
  margin: 0 auto;
  color: #000;
  font-size: 24px;
  letter-spacing: -0.36px;
  padding-bottom: 16px;
}

.notices-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.notices-list li {
  border-bottom: 1px solid #ddd;
  padding: 17px 0px 19px;
  margin: 0 auto;
}

.notices-list li a {
  font-size: 15px;
  color: #222222;
  letter-spacing: -.15px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination .prev_btn_box {
  margin-right: 25px;
}

.pagination .next_btn_box {
  margin-left: 25px;
}

.prev_btn_box button, .next_btn_box button {
  margin: 0 auto;
  padding: 10px 10px;
  cursor: pointer;
  background-color: transparent;
  color: #222;
}

.pagination button:disabled {
  display: none;
}

.pagination button.active {
  color: #222;
}

.pagination span {
  margin-left: 12px;
  padding: 0 8px;
  font-size: 16px;
  cursor: pointer;
  color: rgba(34,34,34,.5);
}

.pagination span:hover {
  text-decoration: underline;
}

.pagination span.active {
  color: #222;
  font-weight: 700;
}

.pagination span.first-page {
  margin-left: 0;
}